.header {
  border-bottom: 1px solid #600; /* Darker border color */
  padding: 1rem 2rem; /* Adds left and right padding */
  margin: 0 8rem 2rem 8rem;
  margin-bottom: 2rem;
  
}


.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--serif-font);
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 550;
  text-decoration: none;
  color: #000;
}

.navFonts a {
  text-decoration: none;
  color: #333; /* Default color */
  font-size: 0.95rem;
  margin-left: 2rem;
  position: relative; /* Needed for pseudo-elements */
  font-weight: normal; /* Default font weight */
  transition: color 0.3s ease, font-weight 0.3s ease; /* Smooth color and weight transition */
  font-weight: bold;
}

.navFonts a:hover {
  color: #222; /* Darker color on hover */
  /* Bold on hover */
}


.navFonts a,
.navFonts Link {
  text-decoration: none;
  color: #333;
  font-size: 0.95rem;
  margin-left: 2rem;
}



.navFonts a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Position the animation slightly below the text */
  width: 0;
  height: 2px;
  background-color: #222; /* Same as hover color */
  transition: width 0.3s ease; /* Smooth animation for width */
}

.navFonts a:hover::after {
  width: 100%; /* Fills the underline on hover */
}



@media (max-width: 768px) {
  .navFonts {
    display: none;
  }
}


